{% extends 'main/base.html' %}

{% block title %}{{todo_name}}{% endblock %}

{% block content %}
<h1>{{todo_name}}</h1>
<form method="post" action="#">
	{% csrf_token %}
	<ul>
		{% for item in items %}
		{% if item.complete == False %}
		<li><input type="checkbox" , value="clicked" , name="c{{item.id}}">{{item.text}}</li>
		{% endif %}
		{% endfor %}
	</ul>

	<h2>Completed Tasks</h2>
	<ul>
		{% for item in items %}
		{% if item.complete == True %}
		<li><input type="checkbox" value="clicked" name="c{{item.id}}" checked>{{item.text}}</li>
		{% endif %}
		{% endfor %}
	</ul>
	<button type="submit" , name="save" , value="save">Save Changes</button>
	<button type="submit" , name="new-item" , value="new-item">Create New Task</button>
	<button type="submit" , name="delete-list" , value="delete-list">Delete Current List</button>
</form>
{% endblock %}