{% extends 'main/base.html' %}

{% block title %}{{todo_name}}{% endblock %}

{% block content %}
<h1>{{todo_name}}</h1>
<form method="post" action="#">
	{% csrf_token %}
	<!-- DONE Allow for ability to delete individual tasks. -->
	<ul>
		{% for item in items %}
			{% if item.complete == False %}
				<li>
					<input type="checkbox" , value="clicked" , name="c{{item.id}}" class="mr-1">
					<a href="{{id}}/item/{{item.id}}">{{item.text}}</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

	<h2>Completed Tasks</h2>
	<ul>
		{% for item in items %}
		{% if item.complete == True %}
		<li>
			<input type="checkbox" value="clicked" name="c{{item.id}}" class="mr-1" checked>
			<a href="{{id}}/item/{{item.id}}">{{item.text}}</a>
		</li>
		{% endif %}
		{% endfor %}
	</ul>
	<button type="submit" , name="save" , value="save" class="btn btn-success">Save Changes</button>
	<button type="submit" , name="new-item" , value="new-item" class="btn btn-primary">Create New Task</button>
	<button type="submit" , name="delete-list" , value="delete-list" class="btn btn-warning">Delete Current List</button>
</form>
{% endblock %}